<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Online sales of goods analysis
## Lab. 2. Data Wrangling

Estimated time needed: **30** minutes


<h3>Context</h3>

<p>You will get a transnational dataset, which contains all the transactions occurring between 2010 and 2011 online retail. These information is collected from the countries like US, UK, France etc. <br>The goal of this laboratory work is to learn how to Handle missing values, correct data format, standardize and normalize data.</p>


<b>Within the Dataset file, following fields are present:</b>
* Invoice Number: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.
* Stock Code: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.
* Description: Product (item) name. Nominal.
* Quantity: The quantities of each product (item) per transaction. Numeric.
* Invoice Date: Invoice date and time. Numeric. The day and time when a transaction was generated.
* Unit Price: Unit price. Numeric. Product price per unit in sterling (Â£).
* Customer ID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.
* Country: Country name. Nominal. The name of the country where a customer resides.

<b>Target fields:</b>
* Total turnover

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#part1">Identify and handle missing values</a>
        <ul>
            <li><a href="#part1.1">Identify missing values</a></li>
            <li><a href="#part1.2">Deal with missing values</a></li>
            <li><a href="#part1.3">Correct data format</a></li>
        </ul>
    </li>
    <li><a href="#part2">Data standardization</a></li>
    <li><a href="#part3">Grouping data</a></li>
    <li><a href="#part4">Sorting Data</a></li>
    <li><a href="#part5">Data normalization</a></li>
</ul>

</div>

<hr>

<h2>What is the purpose of data wrangling?</h2>

Data wrangling is the process of converting data from the initial format to a format that may be better for analysis.

<h3>What is the product turnover for one person or country?</h3>

<h3>Import data</h3>
<p>
You can find the "Online Retail Dataset" from the following link: <a href="https://www.kaggle.com/datasets/sowndarya23/online-retail-dataset?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkGuidedProjectsIBMSkillsNetworkGPXX0YX5EN2931-2023-01-01">https://www.kaggle.com/datasets/sowndarya23/online-retail-dataset</a>. 
We will be using this dataset throughout this course.
</p>

<h4>Import pandas</h4>

you are running the lab in your  browser, so we will install the libraries using `piplite`

In [ ]:
# import piplite
# await piplite.install(['pandas'])
# await piplite.install(['matplotlib'])

If you run the lab locally using Anaconda, you can load the correct library and versions by uncommenting the following:

In [ ]:
#If you run the lab locally using Anaconda, you can load the correct library and versions by uncommenting the following:
#install specific version of libraries used in lab
#! mamba install pandas==1.3.3
#! mamba install numpy=1.21.2

#! pip install matplotlib
#! pip install seaborn
# ! pip install scikit-learn

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

<h2>Reading the dataset from the URL</h2>

First, we assign the URL of the dataset to "filename".

This dataset was hosted on IBM Cloud object. Click <a href="https://cocl.us/corsera_da0101en_notebook_bottom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01">HERE</a> for free storage.

In [ ]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-GPXX0YX5EN/retail-dataset-lab2.csv"

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [ ]:
df = pd.read_csv(filename)

Use the method <b>head()</b> to display the first five rows of the dataframe.

In [ ]:
# To see what the data set looks like, we'll use the head() method.
df.head()

Use the method <b>info()</b> to display count of values in each column of dataset.

In [ ]:
# To see what the data set looks like, we'll use the head() method.
df.info()

As we can see, several missing values appeared in the dataframe; they may hinder our further analysis.

<div>So, how do we identify all those missing values and deal with them?</div> 

<b>How to work with missing data?</b>

Steps for working with missing data:

<ol>
    <li>Identify missing data</li>
    <li>Deal with missing data</li>
    <li>Correct data format</li>
</ol>

<h2><a name="part1" style="color: black; text-decoration: none;">Identify and handle missing values</a></h2>

<h3><a name="part1.1" style="color: black; text-decoration: none;">Identify missing values</a></h3>

<h4>Evaluating for Missing Data</h4>

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:

<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

"True" means the value is a missing value while "False" means the value is not a missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of "True" values. 
</p>

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Based on the summary above, each column has 542014 rows of data and two of the columns containing missing data:

<ol>
    <li>"Description": 1454 missing data</li>
    <li>"Customer ID": 135080 missing data</li>
</ol>

<h3><a name="part1.2" style="color: black; text-decoration: none;">Deal with missing data</a></h3>

<b>How to deal with missing data?</b>

<ol>
    <li>Drop data<br>
        a. Drop the whole row<br>
        b. Drop the whole column
    </li>
    <li>Replace data<br>
        a. Replace it by mean<br>
        b. Replace it by frequency<br>
        c. Replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply a method of dropping the whole row with any empty value:

<b>Drop the whole row:</b>

<ul>
    <li>"Customer ID": 135080 missing data, simply delete the whole row (because it is difficult to predict correct ID for the next analisys).
    </li>
    <li>"Description": 1454 missing data, simply delete the whole row too.
    </li>
</ul>

In [ ]:
# simply drop whole row with NaN in any column
df=df.dropna()

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
#check the result of dropping
df.info()

<b>Good!</b> Now, we have a dataset with no missing values.

<h3><a name="part1.3" style="color: black; text-decoration: none;">Correct data format</a></h3>

<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, category or other).</p>

In Pandas, we use:

<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Let's list the data types for each column</h4>

In [ ]:
df.dtypes

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'Quantity' and 'Customer ID' variables are integer values, so we should expect them to be of the type 'int'; however, 'Customer ID' shown as type 'float'. We have to convert data types into a proper format for each column using the "astype()" method.
As an example, datatype of 'Country' we convert into 'category' type.</p>

<h4>Convert data types to proper format</h4>

In [ ]:
df[["Country"]] = df[["Country"]].astype("category")
df[["Invoice Date"]] = df[["Invoice Date"]].astype('datetime64[ns]')
df[["Invoice Number","Description", "Stock Code"]] = df[["Invoice Number", "Description", "Stock Code"]].astype("str")
# type "str" will shown like "object"

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question  #1: </b>

<b>Based on the example above, convert datatype of the column "Customer ID" into "int64"</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
#Convert datatype to "int64"
df[["Customer ID"]] = df[["Customer ID"]].astype("int64")
```

</details>

<h4>Let us list the columns after the conversion</h4>

In [ ]:
df.dtypes

<b>Wonderful!</b>

Now we have finally obtained the cleaned dataset with no missing values with all data in its proper format.

<h2><a name="part2" style="color: black; text-decoration: none;">Data Standardization</a></h2>
<p>
Data is usually collected from different agencies in different formats.
(Data standardization is also a term for a particular type of data normalization where we subtract the mean and divide by the standard deviation.)
</p>

<b>What is standardization?</b>

<p>Standardization is the process of transforming data into a common format, allowing the researcher to make the meaningful comparison.
</p>

<b>Example</b>

<p>Transform GBP into US:</p>
<p>In our dataset, Unit Price given in GBP(sterlings). We can transform this currancy into more usable as USD.</p>
<p>We will need to apply <b>data transformation</b> to transform GBP into USD.</p>

<p>The formula for unit conversion is:<p>
USD = current rate( f.e. 1.24) * GBP
<p>We can do many mathematical operations directly in Pandas.</p>

<p>Let us start by solving the issue with obtaining current exchange rate. We will use <code>pyfetch()</code>method to make HTTP requests to official Binance API and fetch exchange rate data from it. </p>

In [ ]:
# get updated USDT rate
import requests
import json
response = requests.get('https://api.frankfurter.app/latest?from=GBP&to=USD')
# response = requests.get('https://api.binance.com/sapi/v1/convert/exchangeInfo?fromAsset=GBP&toAsset=USDT')
response_text = json.loads(response.text)
print(response_text)

Returned value is in JSON format.

JavaScript Object Notation (JSON) is a standard text-based format for representing structured data based on JavaScript object syntax. It is frequently employed for data transmission in online applications (e.g., sending some data from the server to the client, so it can be displayed on a web page, or vice versa).
Then we should check the HTTP status response. 200 (OK success) code indicates that the request has succeeded. For obtaining current rate we need to access "toAssetMinAmount" field in our response.

In [ ]:
# if the API is unavailable we set fixed rate
try:
    if response.status_code != 200:
        print("I cannot download rate!")
        rate = 1.24
    else:
        print("Rate downloaded!")
        rate = float(response_text['rates']['USD'])
        # rate = float(response_text[0]["toAssetMinAmount"])
except:
     print("Something wrong!")
     rate = 1.24
print(f"The exchange rate is 1 GBP = {rate} USDT")

In [ ]:
# Convert GBP to USD
df['Unit Price-USD'] = rate*df["Unit Price"]

# check your transformed data 
df.head()

<b>Now let's add a new column with calculated Turnover of products for each row:<b><br>
<p>For example for Great Britain Pounds</p>
<p>Turnover = Quantity * Unit Price</p>

In [ ]:
df['Turnover-GBP'] =df["Quantity"]*df["Unit Price"]
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question  #2: </b>

<b>According to the example above, calculate values for a new column "Turnover-USD".</b>
    <p>Hint: multiply columns "Quantity" and "Unit Price - USD"</p>

</div>

<h4>It is an important task to continue the lab!</h4>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python

df['Turnover-USD'] =df["Quantity"]*df["Unit Price-USD"]

# check your transformed data 
df.head()

```

</details>

<h2><a name="part3" style="color: black; text-decoration: none;">Grouping Data</a></h2>

<b>Why grouping?</b>
<p>
    A groupby operation involves some combination of splitting the object, applying a function, and combining the results.
</p>

<b>Example: </b>

<p>In our dataset, "Customer ID" has 4372 unique values. So we can calculate average value of Turnover for each customer. </p>

<p>We will use the pandas method 'groupby' to the 'Customer ID' column.</p>


<h4>Important!</h4>
<p>
    From this part of lab we will use only standart values tranformed in USD (like "Turnover-USD").
</p>

In [ ]:
df.groupby(["Customer ID"])["Turnover-USD"].mean()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question  #3: </b>

<b>Calculate maximum values for a column "Turnover-USD" according to each customer ID.</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python

df.groupby(["Customer ID"])["Turnover-USD"].max()

```

</details>

<h3> Now let's try to group by different columns, according to the example above, to now the average values of Turnover.</h3>

In [ ]:
# by Country 
df.groupby(["Country"])["Turnover-USD"].mean()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question  #4: </b>

<b>Group by "Description" and "Customer ID" to know the maximum value of Turnover by customer within one product</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python

df.groupby(["Description", "Customer ID"])["Turnover-USD"].max()

```

</details>

<h2><a name="part4" style="color: black; text-decoration: none;">Sorting Data</a></h2>
<b>Why sorting?</b>
<p>
    We can sort by the values along either axis.
</p>

<b>Example: </b>

<p>In our dataset,  we have product descriptions in range of ordering, so we can sort them in alphabet order. In addition we can use not only one column value for sorting in the same time.</p>

<p>We will use the pandas method 'sort_values'.</p>

In [ ]:
df.sort_values("Description")

In [ ]:
df.sort_values("Country")

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question  #5: </b>

<b>Sort data by "Turnover-USD"</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python

df.sort_values("Turnover-USD")

```

</details>

Below we try to sort data by several column values.

In [ ]:
df.sort_values(by=["Description","Country","Turnover-USD"])

<h3 id="visualization">Data Visualization</h3>

<h5>Let's plot the histogram of turnovers by countries to see what it looks like.</h5>

In [ ]:
from matplotlib import pyplot

df.groupby(["Country"])["Turnover-USD"].mean().plot.bar()
# set x/y labels and plot title
plt.pyplot.xlabel("Countries")
plt.pyplot.ylabel("Values of turnover")
plt.pyplot.title("Turnover (USD) by country")


<b>Adding column of years</b>

<p>Add a new column of years from exist colunm "Invoice Date".
</p>

In [ ]:
df['year'] = df['Invoice Date'].dt.year

The plot below shows the average value of turnover by year.

In [ ]:
df.groupby('year')['Turnover-USD'].mean().plot.bar();


<b>Adding year-month column</b>

<p>Add a new column "year-month" from exist colunm "Invoice Date".
</p>

In [ ]:
df['year-month']=df['Invoice Date'].dt.strftime('%Y-%m')

Group by "year-month" to know summarized value of turnover per month.

In [ ]:
df1=pd.DataFrame(df.groupby('year-month')['Turnover-USD'].sum())
df1=df1.reset_index()

In [ ]:
plt.pyplot.figure(figsize=(15, 8))
sns.lineplot(data=df1,x='year-month',y='Turnover-USD')
plt.pyplot.title("Turnover (USD) by date")
plt.pyplot.xticks(rotation=30);

The plot above shows the changing of turnover by months.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<b style="font-size: 2em; font-weight: bold;"> Question #6: </b>

<b>According to the example above, do the plot of avarage values of Turnover-USD by each month.</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python

df2=pd.DataFrame(df.groupby('year-month')['Turnover-USD'].mean())
df2=df2.reset_index()

# show a plot
plt.pyplot.figure(figsize=(15, 8))
sns.lineplot(data=df2,x='year-month',y='Turnover-USD')
plt.pyplot.title("Turnover (USD) by date")
plt.pyplot.xticks(rotation=30);

```

</details>

<h2><a name="part5" style="color: black; text-decoration: none;">Data Normalization</a></h2>

<b>Why normalization?</b>

<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling the variable so the variable values range from 0 to 1.
</p>

<b>Example</b>

<p>To demonstrate normalization, let's say we want to scale the column "Turnover-USD".</p>
<p><b>Target:</b> would like to normalize those variables so their value ranges from 0 to 1</p>

In [ ]:
import sklearn 
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
d = scaler.fit_transform(df[['Turnover-USD']])
d

Save updated DF.

df.to_csv('clean_df.csv', index=False)

Save the new csv:

> Note : The  csv file cannot be viewed in the jupyterlite based SN labs environment.However you can Click <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Module%202/DA0101EN-2-Review-Data-Wrangling.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2022-01-01">HERE</a> to download the lab notebook (.ipynb) to your local machine and view the csv file once the notebook is executed.

### Thank you for completing this lab!

## Author

<a href="https://author.skills.network/instructors/veronika_lanchuv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkGuidedProjectsIBMSkillsNetworkGPXX0YX5EN2931-2023-01-01">Veronika Lanchuv</a>

### Other Contributors

<a href="https://author.skills.network/instructors/yaroslav_vyklyuk_2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkGuidedProjectsIBMSkillsNetworkGPXX0YX5EN2931-2023-01-01">Yaroslav Vyklyuk</a>

<a href="https://author.skills.network/instructors/olga_kavun?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkGuidedProjectsIBMSkillsNetworkGPXX0YX5EN2931-2023-01-01">Olga Kavun</a>


## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-04-01        | 2.0     | Veronika   | lab is done                        |

<hr>

## <h3 align="center"> Â© IBM Corporation 2023. All rights reserved. <h3/>